:root {
  --accent: #ff7e5e;
  --accent-dark: #e65c3a;
  --accent-light: #ffa07a;
  --text-dark: #222;
  --text-light: #666;
  --bg-light: #f9f9f9;
  
  --pattern: 
    conic-gradient(from -296deg at 100% 59%, #ff7e5e 0 133deg, #fff0 0 100%) 50%/198px 168px,
    conic-gradient(from -296deg at 85% 67%, #e65c3a 0 134.5deg, #fff0 0 100%) 50%/198px 168px,
    conic-gradient(from -296deg at 68% 77%, #ff7e5e 0 137deg, #fff0 0 100%) 50%/198px 168px,
    conic-gradient(from -296deg at 55% 85%, #e65c3a 0 150deg, #fff0 0 100%) 50%/198px 168px,
    conic-gradient(from -248deg at 38% 77%, #ff7e5e 0 97deg, #fff0 0 100%) 50%/198px 168px,
    conic-gradient(from -248deg at 15% 66%, #e65c3a 0 95deg, #fff0 0 100%) 50%/198px 168px,
    conic-gradient(
        from 207deg at 15% 66%,
        #ff7e5e 0 84deg,
        #ffa07a 0 138deg,
        #fff0 0 100%
      )
      50%/198px 168px,
    conic-gradient(
        from 23deg at 85% 12%,
        #ff7e5e 0 34deg,
        #ffa07a 0 136deg,
        #fff0 0 100%
      )
      50%/198px 168px,
    conic-gradient(
        from 22deg at 66% 27%,
        #e65c3a 0 34deg,
        #ff7e5e 0 128deg,
        #fff0 0 100%
      )
      50%/198px 168px,
    conic-gradient(
        from 17deg at 50% 40%,
        #ff7e5e 0 39deg,
        #ffa07a 0 133deg,
        #fff0 0 100%
      )
      50%/198px 168px,
    conic-gradient(
        from 31deg at 33% 26%,
        #e65c3a 0 94deg,
        #ff7e5e 0 125deg,
        #fff0 0 100%
      )
      50%/198px 168px,
    conic-gradient(
        from -57deg at 19% 15%,
        #e65c3a 0 90deg,
        #ff7e5e 0 181deg,
        #ffa07a 0 217deg,
        #ff7e5e 0 360deg,
        #fff0 0 100%
      )
      50%/198px 168px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--text-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input, select, textarea {
  font-family: inherit;
}

code {
  font-family: "Montserrat", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1 0 auto;
}

.accent {
  color: var(--accent);
}