.card {
  background: #fff;
  border-radius: var(--radius-form);
  overflow: hidden;
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  width: 100%;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.image {
  width: 100%;
  height: 100%;
  max-width: 280px;
  max-height: 280px;
  object-fit: cover;
  display: block;
}

.info {
  padding: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.price {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  color: var(--accent);
}

.cartButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  transition: transform 0.1s;
}

.cartButton:hover {
  transform: scale(1.3);
  fill: var(--accent-dark);
}

.cartIcon {
  width: 35px;
  height: 35px;
  /* fill: var(--accent); */
}