.hero {
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  /* background-color: #ff7e5e; */
  margin-bottom: 3rem;
}

.heroContent {
  max-width: 800px;
}

.heroTitle {
  margin-top: 5rem;
  font-size: 4rem;
  font-weight: 780;
  margin-bottom: 10rem;
}

.heroSubtitle {
  font-size: 2rem;
  font-weight: 680;
  line-height: 1.5;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem 3rem;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}