.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.filterButton {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-align: left;
  background: none;
  border: none;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  color: var(--text-dark);
  cursor: pointer;
  padding: 0.5rem 0;
  transition: color 0.2s;
}

.filterButton:hover {
  color: var(--accent-dark)
}

.filterIcon {
  width: 25px;
  height: 25px;
  fill: var(--text-dark);
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 2rem;
  border-radius: var(--radius-form);
  min-width: 300px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.modalContent h2 {
  text-align: center;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  margin-top: 0;
  margin-bottom: 1rem;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.filterGroup label {
  display: flex;
  align-items: center;
  font-size: var(--font-size-input);
  font-weight: var(--font-weight-slim);
  color: var(--text-dark);
  gap: 0.5rem;
}

.applyButton {
  background: var(--accent);
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: var(--radius-button);
  font-size: var(--font-size-input);
  font-weight: var(--font-weight-base);
  transition: background 0.2s;
  cursor: pointer;
  width: 100%;
}

.applyButton:hover {
  background: var(--accent-dark);
}